.frame__button {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#0278fe, #003a7b);
  color: #fff;
  padding: 13px 20px;
  margin-top: 48px;
  text-decoration: none;
}
.frame__button:hover {
  border: 2px solid #0278fe;
}
