.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 16px;
  max-width: 1184px;
}
.photos__image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 940px) {
  .photos {
    max-width: 100%;
  }
}
