.intro {
  display: flex;
  max-width: 830px;
  flex-direction: column;
}

.intro__title {
  max-width: 830px;
  font-size: 54px;
}

.intro__subtitle {
  max-width: 738px;
  font-size: 24px;
}

.intro__text {
  max-width: 722px;
  font-size: 16px;
}

.intro__author {
  text-align: end;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
  .intro__title {
    max-width: 707px;
  }

  .intro__subtitle {
    max-width: 720px;
  }

  .intro__text {
    max-width: 720px;
  }
}
