.places {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  align-items: center;
}
.place__description {
  display: flex;
  flex-direction: column;
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}
.place__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 18px;
}
.place__title {
  display: flex;
  font-weight: 900;
  font-size: 72px;
  width: 100%;
}
.place__image {
  width: 100%;
  height: auto;
}
.place__heading {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
}

.place__artist {
  font-size: 18px;
  font-weight: 400;
  max-width: 455px;
}
.place__button {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background: linear-gradient(#0278fe, #003a7b);
  color: #fff;
  padding: 13px 20px;
  margin-top: 48px;
  text-decoration: none;
}
.place__button:hover {
  border: 2px solid #0278fe;
}

@media screen and (max-width: 940px) {
  .places {
    width: 100%;
  }
  .place {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
  }
  .place {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
}
@media screen and (max-width: 480px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  }
}
